@{
    ViewData["Title"] = "Formularz";
}
@model Wediary.Models.TaskUser.TaskUserModel;

<div class="container">
    <h2 class="col-lg-10">Dodaj nowe zadanie</h2>
    <form asp-controller="Task" asp-action="SaveChanges" method="post">
        <div class="form-group row col-lg-12">
            <label for="inputName" class="col-sm-4 col-form-label text-right">Nazwa</label>
            <div class="col-sm-6">
                <input asp-for="Name" type="text" class="form-control" id="inputName" placeholder="nazwa">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label for="inputRealizator" class="col-sm-4 col-form-label text-right">Realizator</label>
            <div class="col-sm-6">
                <input asp-for="Contractor" type="text" class="form-control" id="inputRealizator" placeholder="osoba odpowiedzialna">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label for="inputRealizator" class="col-sm-4 col-form-label text-right">Kategoria</label>
            <div class="col-sm-6">
                <input asp-for="Category" type="text" class="form-control" id="inputRealizator" placeholder="kategoria zadania">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label for="inputAmount" class="col-sm-4 col-form-label text-right">Ilość</label>
            <div class="col-sm-6">
                <input asp-for="Quantity" type="number" class="form-control" id="inputAmount" placeholder="ile ">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label for="inputUnit" class="col-sm-4 col-form-label text-right">Jednostka</label>
            <div class="col-sm-6">
                <input asp-for="Unit" type="text" class="form-control" id="inputUnit" placeholder="szt/kg/L/cm ...">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label for="inputAproxPrice" class="col-sm-4 col-form-label text-right">Cena spodziewana</label>
            <div class="col-sm-6">
                <input asp-for="ExpectedPrice" type="number" class="form-control" id="inputAproxPrice" placeholder="cena zakładana przy planowaniu">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label for="inputAdvance" class="col-sm-4 col-form-label text-right">Zaliczka</label>
            <div class="col-sm-6">
                <input asp-for="Payment" type="number" class="form-control" id="inputAdvance" placeholder="ile już zapłacono">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label for="inputDate" class="col-sm-4 col-form-label text-right">Data</label>
            <div class="col-sm-6">
                <input asp-for="Date" type="date" class="form-control" id="inputData" placeholder="Data dodania wydatku czy data jego endLine?">
            </div>
        </div>
        <div class="form-group row col-md-6">
            <button type="submit" class="btn btn-primary">Dodaj</button>
            <a class="btn btn-warning" asp-controller="Task" asp-action="Index">Powróć do Listy</a>
        </div>
    </form>
</div>

