@{
    ViewData["Title"] = "ListaGosci";
}
<link href="~/css/fontello.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <h2>Lista Gości Weselnych</h2>
    </div>

    <table class="table table-hover table-responsive">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Lp</th>
                <th scope="col">Imie i Nazwisko</th>
                <th scope="col">Zaproszenie</th>
                <th scope="col">Nocleg</th>
                <th scope="col">Poprawiny</th>
                <th scope="col">Dieta</th>
                <th scope="col">Notatka</th>
                <th scope="col">Potwierdzenie</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Ania Kowalska</td>
                <td>
                    <div class="the-icons span3" title="Code: 0xf2b7"><i class="demo-icon icon-envelope-open-o"></i> </div>
                </td>
                <td>
                    <div class="the-icons span3" title="Code: 0xf236"><i class="demo-icon icon-bed"></i> </div>
                </td>
                <td>
                    <div class="the-icons span3" title="Code: 0xe803"><i class="demo-icon icon-glass"></i></div>
                </td>
                <td>
                    <div class="the-icons span3" title="Code: 0xf0f5"><i class="demo-icon icon-food"></i></div>
                </td>
                <td> <i class="icon-eye"></i> </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="stanZad">
                        <label class="form-check-label" for="defaultCheck1"></label>
                    </div>
                </td>
            </tr>
            <tr class="bg-success">
                <th scope="row">2</th>
                <td>Ania Kowalska</td>
                <td>
                    <div class="the-icons span3" title="Code: 0xf2b7"><i class="demo-icon icon-envelope-open-o"></i> </div>
                </td>
                <td>
                    <div class="the-icons span3" title="Code: 0xf236"><i class="demo-icon icon-bed"></i> </div>
                </td>
                <td>
                    <div class="the-icons span3" title="Code: 0xe803"><i class="demo-icon icon-glass"></i></div>
                </td>
                <td>
                    <div class="the-icons span3" title="Code: 0xf0f5"><i class="demo-icon icon-food"></i></div>
                </td>
                <td> <i class="icon-eye"></i> </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="stanZad">
                        <label class="form-check-label" for="defaultCheck1"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Ania Kowalska</td>
                <td>
                    <div class="the-icons span3" title="Code: 0xf2b7"><i class="demo-icon icon-envelope-open-o"></i> </div>
                </td>
                <td>
                    <div class="the-icons span3" title="Code: 0xf236"><i class="demo-icon icon-bed"></i> </div>
                </td>
                <td>
                    <div class="the-icons span3" title="Code: 0xe803"><i class="demo-icon icon-glass"></i></div>
                </td>
                <td>
                    <div class="the-icons span3" title="Code: 0xf0f5"><i class="demo-icon icon-food"></i></div>
                </td>
                <td> <i class="icon-eye"></i> </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="stanZad">
                        <label class="form-check-label" for="defaultCheck1"></label>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>