<link href="~/css/homePage.css" rel="stylesheet" />


<section>

    <div class="container-fluid">
        <article class="row">
            <asaide class="col-12" style="min-height: 25px;"></asaide>

            <div class="left-part">
                <div class=" col-md-5 m-5">

                    <img src="img/lista różowa.jpg" class="img-fluid">

                </div>
            </div>
            <div class="right-part">
                <div class="col-md-5 text-center">

                    <h2><img src="img/kalendarz1.jpg" class="img-fluid"></h2>

                    <p>Panna & Pan Młodzi</p>
                    <p>Data ślubu: 20.06.2020 </p>
                    <p>Miejsce: Bydgoszcz</p>
                    <p>Reustauracja Wóda i Koks</p>

                </div>

            </div>
            <div class="style=clear:both;"></div>

        </article>

        <article class="row">

            <div class="kafelek col-md-3 ">
                <p> Ukończone zadania </p>
                <p> 20 / 60 </p>
            </div>
            <div class="kafelek col-md-3">
                <p> Porwierdzenie Goście </p>
                <p>  5 / 100 </p>
            </div>
            <div class="kafelek col-md-3">
                <p> Budżet: </p>
                <p> 5423 zł </p>
            </div>


        </article>
    </div>
</section>