<link href="~/css/homePage.css" rel="stylesheet" />

@{ 
    ViewData["Title"] = "Głowne infomacje";
}

<div class="row container">
    <div class="col-md-12 text-center ">
        <h1 class="title-text">Witaj w naszej aplikacji</h1>
    </div>
    <div>
        <br />
        <p class="text-center simple-text">
            Zaplanowanie ślubu i wesela to opcja dla Ciebie, o ile naprawdę jesteś bardzo dobrze zorganizowany/a, wiesz czego chcesz i masz w głowie od dawna plan i wizję tego dnia.
            Pamiętaj, że organizacja wesela samej to nie prosta sprawa – musicie między innymi wybrać miejsce ślubu, przyjęcia weselnego, przemyśleć menu, zdecydować się na zespół,
            fotografa ślubnego, sukienkę, dodatki czy usadzenie gości na sali weselnej. W tym, z pewnością pomoże ci nasza strona, która powstała właśnie w celu ułatwienia zorganizowania wesela,
            aby było takie jakie sobie wymarzyliście.
        </p>
        <br />
        <br />
        <p class="text-center simple-text">
            Co oferuje nasz planer weselny? Składa on się z kilku części niezbędnych do zaplanowania każdego wesela. Posiada listę zadań przygotowaną specjalnie przez nasz zespół,
            aby juz na początku przypomnieć o sprawach, o którcyh będziecie musieli zadbać by wasz ślub był niezapomnianym przeżyciem. Oczywiście lista zadań może być swobodnie uzupełniana o nowe zadania.
            Sama lista zadań posiada możliwość filtrowania tak aby wszystko było przejrzyste i łatwe w korzystaniu. Jako że chcecie ten szczególny dla was moment dzielić z rodziną, przyjaciółmi i znajomymi,
            w naszym planerze nie mogło zabraknąć listy gości, którą można swobodnie edytować i zmieniać. Aby ułatwic jeszcze bardziej sprawę zaproszeń przy każdym gościu można zaznaczyć czy potwierdził przybycie,
            ale to nie wszystko ponieważ możecie również określić czy będzie zaproszony na poprawy, czy potrzebuje specjalnej diety lub czy zaplanowaliście dla nich nocleg.
        </p>
        <br />
        <br />
        <p class="text-center simple-text">
           Czy kiedyś na minionych uroczystościach mieliście problemy z zaplanowaniem stołów i siedzących przy nim biesiadników? Teraz juz nie musisz się o to martwić. Nasz planer oferuje niesamowicie pomocny w takich sytuacjach organizer stołów,
           dzięki któremu rozsadzenie gości nie będzie dłużej problemem. A do tego będziecie mogli z niego skorzystać nie tylko przy weselu ale i przy każdej uroczystości przy jakiej tylko będziecie potrzebowali pomocy z planowaniem sali.
        </p>
    </div>
</div>
