@using Wediary.Models.TaskUser
@model TaskUserModel
@{
    ViewData["Title"] = "Modyfikacja Zadania";
}


<div class="container">
    <h2 class="col-md-12">Edycja Zadania</h2>
    <form asp-controller="Task" asp-action="UpdateTask" method="post">
        <div class="form-group row col-lg-12">
            <label class="col-sm-4 col-form-label text-right">Nazwa Zadania</label>
            <div class="col-sm-6">
                <input asp-for="Name" asp type="text" class="form-control" id="inputName" placeholder="imie">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label class="col-sm-4 col-form-label text-right">Wykonawca</label>
            <div class="col-sm-6">
                <input asp-for="Contractor" type="number" class="form-control" id="inputSurName" placeholder="nazwisko">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label class="col-sm-4 col-form-label text-right">Kategoria</label>
            <div class="col-sm-6">
                <input asp-for="Category" type="number" class="form-control" id="inputSurName" placeholder="nazwisko">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label class="col-sm-4 col-form-label text-right">Potrzebna ilość</label>
            <div class="col-sm-6">
                <input asp-for="Quantity" type="number" class="form-control" id="inputSurName" placeholder="nazwisko">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label class="col-sm-4 col-form-label text-right">Jednostak ilości</label>
            <div class="col-sm-6">
                <input asp-for="Unit" type="text" class="form-control" id="inputRole" placeholder="rola">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label class="col-sm-4 col-form-label text-right">Spodziewana cena</label>
            <div class="col-sm-6">
                <input asp-for="ExpectedPrice" type="text" class="form-control" id="inputDiet" placeholder="jakaś dieta/uczuleni">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label class="col-sm-4 col-form-label text-right">Zaliczka</label>
            <div class="form-check">
                <input asp-for="Payment" type="checkbox" class="form-check-input col-sm-2" id="accomodation">
            </div>
        </div>
        <div class="form-group row col-lg-12">
            <label class="col-sm-4 col-form-label text-right">Data realizacji</label>
            <div class="form-check">
                <input asp-for="Date" type="checkbox" class="form-check-input col-sm-2" id="aftermath">
            </div>
        </div>
        <div class="form-group row col-md-6">
            <button type="submit" class="btn btn-primary">Dodaj</button>
            <a class="btn btn-warning" asp-controller="Guest" asp-action="Index">Powróć do Listy</a>
        </div>
    </form>
</div>

