@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Logowanie";
}

<div class="row container">
    <div class="col-md-5">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h4 class="headerText">Logowanie do aplikacji</h4>
                <hr class="divider"/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label class="labelText">Adres e-mail</label>
                    <input asp-for="Email" class="form-control inputStyle" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="labelText">Hasło</label>
                    <input asp-for="Password" class="form-control inputStyle" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn buttonSize">Zaloguj</button>
                </div>
            </form>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <section>
            <h4 class="headerText">Informacje odnośnie logowania</h4>
            <hr class="divider"/>
            <div>
                <p>
                    Zaloguj się do serwisu oferującego planer ślubny, który będzie dla ciebie pomocą w zaplanowaniu wymarzonego wesela.
                    Po zalogowaniu się zacznij korzystać z serwisu. Cieszymy sie że z nami jesteś!
                </p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
