@model RegisterViewModel
@{
    ViewData["Title"] = "Rejestracja";
}

<div class="row container">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Tworzenie nowego konta</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Adres e-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Hasło</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Potwierdź hasło</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Stwórz konto</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Informacje odnośnie rejestracji</h4>
            <hr />
            <div>
                <p>
                    Zarejestrój się do serwisu oferującego planer ślubny, który będzie dla ciebie pomocą w zaplanowaniu wymarzonego wesela.
                    Po zarejestrowaniu potwierdź adres e-mail i zacznij korzystać z serwisu. Cieszymy sie że chcesz do nas dołączyć!
                </p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
