
.icon-plus-circle:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-glass:before { content: '\e803'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */