@model Wediary.Models.ManagerTables.CoordinatesModel

<link href="~/css/managerStyle.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/css/splide.min.css" rel="stylesheet">
<link href="~/css/splide-skyblue.min.css" rel="stylesheet">

    <div class="text-center col-md-12">
        <div class="menu">
            <div id="image-slider" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide"><img alt="1" src="~/images/ManagerImages/1.png"></li>
                        <li class="splide__slide"><img alt="1" src="~/images/ManagerImages/2.png"></li>
                        <li class="splide__slide"><img alt="1" src="~/images/ManagerImages/3.png"></li>
                        <li class="splide__slide"><img alt="1" src="~/images/ManagerImages/4.png"></li>
                        <li class="splide__slide"><img alt="1" src="~/images/ManagerImages/5.png"></li>
                        <li class="splide__slide"><img alt="1" src="~/images/ManagerImages/6.png"></li>
                        <li class="splide__slide"><img alt="1" src="~/images/ManagerImages/7.png"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button onclick="removeFromPalette()">Usuń Element</button>
            <button onclick="addToPalette()">Dodaj stół</button>
            <button onclick="load()">Wczytaj</button>
            <form asp-controller="Task" asp-action="See" asp-route-name="@Model.Name" asp-route-id="@Model.IdProject" method="post">
                <input asp-for="CoordinatesJson" type="hidden" class="form-control" id="hdnfldVariable" placeholder="nazwa">
                <button type="submit" onclick="save()">Zapisz</button>
            </form>
        </div>
    </div>

<body onload="init()">
    <div id="sample">
        <div id="myFlexDiv">
            <div id="myGuests"></div>
            <div id="myDiagramDiv"></div>
        </div>
        <div>
            <pre class="json" id="savedModel"></pre>
            <pre class="json" id="Guests_saved"></pre>
            <pre class="json" id="Diagram_saved"></pre>

        </div>
    </div>
    <script src="~/js/splide.min.js"></script>
    <script src="~/js/go.js"></script>
    <script src="~/js/managerScript.js"></script>
</body>

